<% provide(:title, "Roster") %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
<div class="panel-heading">League Roster</div>
  	<table class="table">
	  	<tr>
	  		<th>Round</th><th>Pick</th><th>User</th><th>Team</th><th>Player</th>
	  	</tr>
		<% @picks.each do |pick| %>
		<tr>
			<td><%= pick.round %></td>
		 	<td><%= pick.pick %></td>
		 	<td><%= pick.user %></td>
		 	<td><%= pick.team %></td>
			<td><%= pick.player %></td>
		</tr>

		<% end %>
	</table>
</div>
